
### Web-Scraping-and-Data-Analysis project-on-Economic-impact-of-COVID-19

### Importing the required libraries

In [1]:
import requests
from bs4 import BeautifulSoup as bs
from functools import reduce
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import random
import datetime
import yfinance as yf

### Covid cases

In [2]:
# URL for Covid cases from wikipedia

urlcovid = "https://en.wikipedia.org/w/index.php?title=Template:COVID-19_pandemic_data/India_medical_cases_chart&action=edit"
response_covid = requests.get(urlcovid)
response_covid

In [3]:
# Scrapping data from URL

response_covid = requests.get(urlcovid)
response_covid.text

# Data cleaning to get data from text

soup_covid = bs(response_covid.text)
covid_find = soup_covid.find("textarea",class_="mw-editfont-monospace").text.split("\n")

cases = []
for i in covid_find:
    cases.append(i.split(";"))
cases = cases[17:]

# Making a Data frame

cov_cases = pd.DataFrame(cases)
df0=pd.DataFrame()
df0["date"]= cov_cases[0][:524]
df0["cases"]= cov_cases[3][:524]

# Replacing missing values with NaN and droping them

df0.replace(r'', np.nan,inplace = True)
df0= df0.dropna().reset_index()
df0.reset_index(drop=True)

     index        date     cases
0        0  2020-01-30         1
1        2  2020-02-02         2
2        3  2020-02-03         3
3        5  2020-02-21         3
4        7  2020-03-02         5
..     ...         ...       ...
516    519  2021-07-27  31440492
517    520  2021-07-28  31483463
518    521  2021-07-29  31526628
519    522  2021-07-30  31571299
520    523  2021-07-31  31612798

[521 rows x 3 columns]

In [4]:
# Filling zeros where no cases are present

fill1 = []
for i in range(244):
    fill1.append(0)
    
# Filling the dates where cases are present

fill2 =[1,0,0,2,3]
fill3 = []
for i in range(17):
    fill3.append(0)
fill4 = []
for i in range(9):
    fill4.append(0)
covid_cases =fill1+fill2+fill3+fill4
covid_cases =pd.DataFrame(covid_cases)
covid_cases.reset_index(drop=True, inplace=True)
covid_cases

# Concatenating with previous data frame

df = df0.iloc[4:]
cf = df["cases"]
cf.reset_index()
cov_df = pd.concat([covid_cases,cf]) 
cov_df["Covid cases"]=cov_df
cov_df.drop(0, inplace=True, axis=1)
new_df = cov_df.reset_index()
covid = pd.DataFrame(new_df["Covid cases"])
covid["Covid cases"] = covid["Covid cases"].astype(int)
covid

     Covid cases
0              0
1              0
2              0
3              0
4              0
..           ...
787     31440492
788     31483463
789     31526628
790     31571299
791     31612798

[792 rows x 1 columns]

### Currency exchange rates

In [5]:
# Scrapping data from url

rates =[]
for i in range(2019,2022):
    my_url = f"https://www.exchangerates.org.uk/USD-INR-spot-exchange-rates-history-{i}.html"
    response = requests.get(my_url)
    soup_rupee = bs(response.text)
    rupee_find = soup_rupee.find("div",class_="row").text.split("US Dollar ")
    rates.append(rupee_find)
    
# data cleaning

split_rates = []
for i in range(len(rates)):
        temp = re.findall(r"[₹]\d+.\d+",str(rates[i]))
        split_rates.append(temp)
exchange_rates =[]
for i in split_rates:
    for j in i:
        temp = j.removeprefix("₹")
        exchange_rates.append(temp)
# Finding indexes of required dates in raw text for slicing

#'to Indian Rupee Monthly Exchange Rates\n\nSaturday  1 June 2019$1 USD = ₹69.5795'
#'Indian Rupee rate for 30/07/2021Saturday 31 July 2021$1 USD = ₹74.3793'

index_june2019 = exchange_rates.index("69.5795")
index_july2021 = exchange_rates.index("74.3793")
exchange_rates = exchange_rates[index_june2019:index_july2021+1]
exchange_rates = np.array(exchange_rates,dtype=float)
exchange_rates

array([69.5795, 69.5795, 69.5781, 69.1697, 69.3155, 69.4006, 69.1263,
       69.39  , 69.39  , 69.3532, 69.5114, 69.3975, 69.416 , 69.5591,
       69.8798, 69.8789, 69.7813, 69.8784, 69.4808, 69.6089, 69.5201,
       69.58  , 69.58  , 69.5777, 69.2623, 69.3316, 69.2464, 69.0564,
       68.9507, 68.9507, 68.9499, 68.9048, 68.8455, 68.7993, 68.5488,
       68.4503, 68.4499, 68.45  , 68.6229, 68.5491, 68.374 , 68.4718,
       68.5604, 68.5604, 68.5559, 68.5368, 68.6731, 68.796 , 68.7339,
       68.9371, 68.9355, 68.8378, 68.93  , 69.0293, 68.981 , 69.1406,
       68.8603, 68.8603, 68.88  , 68.7302, 68.8499, 69.009 , 69.3056,
       69.667 , 69.667 , 69.6653, 71.128 , 70.9137, 71.1905, 70.4168,
       71.0423, 71.0423, 71.0455, 71.2815, 71.1242, 71.6189, 71.4223,
       71.143 , 71.143 , 71.1442, 71.6763, 71.4833, 71.4451, 71.9293,
       71.8255, 71.8196, 71.509 , 71.9559, 71.5472, 71.8259, 71.691 ,
       71.74  , 71.74  , 71.7405, 71.9725, 72.1471, 71.9798, 71.9332,
       71.6771, 71.6764, 71.6782, 71.7776, 71.856 , 71.5789, 70.9915,
       71.031 , 71.0308, 71.0287, 71.7565, 71.4904, 71.1863, 71.3927,
       71.2079, 71.2079, 71.1824, 70.7405, 70.9712, 71.0191, 70.9761,
       70.659 , 70.5108, 70.5607, 70.6467, 71.1082, 71.1489, 70.9925,
       70.8253, 70.8248, 70.8226, 71.0817, 71.2915, 71.1428, 70.964 ,
       71.0501, 71.0501, 70.942 , 71.1961, 71.521 , 71.3643, 71.1627,
       71.0901, 71.0901, 71.0909, 70.9263, 70.8378, 70.722 , 71.0075,
       70.8373, 70.8399, 70.8341, 70.7472, 70.8896, 70.8423, 71.0677,
       70.703 , 70.5221, 70.5802, 70.8433, 70.7701, 71.0657, 71.5981,
       71.377 , 71.377 , 71.369 , 71.5665, 71.7872, 72.1512, 71.9627,
       71.6322, 71.6477, 71.6469, 71.9453, 71.861 , 71.7779, 71.7495,
       71.7926, 71.7926, 71.7945, 71.6869, 71.4378, 71.4221, 71.5569,
       71.7512, 71.7512, 71.7511, 71.6332, 71.7533, 71.4879, 71.2386,
       71.297 , 71.297 , 71.2944, 70.9723, 70.8312, 70.7388, 70.5686,
       70.6907, 70.6907, 70.6891, 70.9043, 71.037 , 70.999 , 71.2292,
       71.0967, 71.0967, 71.1003, 71.2202, 71.26  , 71.271 , 71.3013,
       71.4275, 71.4275, 71.4309, 71.3197, 71.301 , 71.321 , 71.3517,
       71.7583, 71.7583, 71.7612, 71.7966, 71.9664, 71.444 , 71.1962,
       70.991 , 70.9577, 70.9614, 70.7271, 70.8542, 70.7246, 70.9539,
       71.0409, 71.0409, 71.0508, 71.0383, 71.2426, 71.1104, 71.3311,
       71.3263, 71.3263, 71.3288, 71.4513, 71.2402, 71.31  , 71.5695,
       71.4969, 71.4969, 71.4969, 71.3216, 71.112 , 71.1891, 71.3007,
       71.5159, 71.5159, 71.5136, 71.2988, 71.2854, 71.3032, 71.2761,
       71.5274, 71.5274, 71.5252, 71.359 , 71.5827, 71.6244, 71.882 ,
       71.8874, 71.8874, 71.8852, 72.0493, 71.8803, 71.6713, 71.6959,
       72.1719, 72.1722, 72.1723, 72.4188, 73.4512, 73.4874, 73.8626,
       73.9942, 73.9997, 74.0032, 74.4734, 73.5691, 74.1809, 74.4382,
       73.8863, 73.8867, 74.0161, 74.3278, 74.0053, 74.9378, 75.2028,
       75.72  , 75.6226, 75.6782, 76.5589, 75.9541, 75.7098, 74.6892,
       74.876 , 74.876 , 75.3924, 75.4721, 75.3677, 76.5754, 76.1651,
       76.42  , 76.42  , 76.4649, 76.0157, 75.6758, 75.9569, 75.912 ,
       76.1766, 76.1765, 76.1628, 76.243 , 75.9491, 76.4981, 76.8509,
       76.497 , 76.498 , 76.5544, 76.593 , 76.97  , 76.4141, 76.0008,
       76.318 , 76.3021, 76.2865, 76.1629, 76.0641, 75.29  , 75.416 ,
       75.8591, 75.831 , 75.5575, 75.6486, 75.9246, 76.2922, 75.7043,
       75.476 , 75.5039, 75.5335, 75.9437, 75.3341, 75.4204, 75.4425,
       75.8751, 75.8751, 75.8539, 75.6006, 75.7116, 75.5399, 75.6381,
       75.9771, 75.9955, 75.9436, 75.8846, 75.5242, 75.8779, 75.7125,
       75.5263, 75.5263, 75.5112, 75.5014, 75.0647, 75.3203, 75.4661,
       75.5655, 75.5616, 75.5618, 75.3755, 75.4919, 75.6739, 76.0315,
       75.954 , 75.954 , 75.9522, 75.9616, 76.3733, 76.2743, 76.3882,
       76.2514, 76.2514, 76.2521, 75.7731, 75.6579, 75.767 , 75.5276,
       75.6249, 75.6249, 75.6125, 75.4932, 75.5596, 75.455 , 74.6824,
       74.6791, 74.6792, 74.6766, 74.6054, 74.9224, 74.9497, 75.1405,
       75.1569, 75.1925, 75.1925, 75.2183, 75.3211, 75.1363, 75.1779,
       74.8987, 74.8987, 74.915 , 74.7488, 74.5328, 74.6064, 74.8515,
       74.7218, 74.7218, 74.7436, 74.7784, 74.9151, 74.8203, 74.8434,
       74.9314, 74.9319, 74.9308, 75.1258, 75.0443, 74.8969, 74.8992,
       75.0379, 75.0227, 75.011 , 74.8738, 74.6097, 74.7691, 74.8147,
       74.8524, 74.8518, 74.864 , 74.728 , 74.5587, 74.9675, 74.9908,
       74.9264, 74.9264, 74.9056, 74.1767, 74.2457, 74.239 , 73.7821,
       73.1288, 73.1288, 73.1393, 73.4378, 73.0616, 73.2286, 73.4456,
       73.2462, 73.2462, 73.2519, 73.4398, 73.7528, 73.3275, 73.5283,
       73.4765, 73.4765, 73.4871, 73.3851, 73.6216, 73.5327, 73.5724,
       73.613 , 73.613 , 73.5713, 73.5766, 73.5063, 73.7652, 73.9365,
       73.6994, 73.6994, 73.6844, 73.7319, 73.7139, 73.5282, 73.2337,
       73.3198, 73.3254, 73.2855, 73.1092, 73.6196, 73.3442, 73.2677,
       72.964 , 72.964 , 73.004 , 73.3584, 73.4196, 73.2974, 73.3595,
       73.443 , 73.4444, 73.4473, 73.3828, 73.4822, 73.7296, 73.682 ,
       73.8369, 73.8369, 73.8182, 73.9442, 73.8039, 74.1812, 74.2956,
       74.5478, 74.6138, 74.6465, 74.4487, 74.6107, 74.1451, 74.1589,
       73.9811, 73.984 , 73.9733, 73.9796, 74.2974, 74.5251, 74.6796,
       74.5379, 74.5379, 74.5026, 74.3434, 74.5015, 74.2549, 74.1096,
       74.1655, 74.1617, 74.1421, 74.246 , 73.9641, 73.7861, 73.8288,
       73.9337, 73.9597, 73.9511, 74.0029, 73.4854, 73.6519, 73.869 ,
       73.7985, 73.7958, 73.7948, 73.799 , 73.7265, 73.8005, 73.7842,
       73.7383, 73.7355, 73.7573, 73.6454, 73.5258, 73.6059, 73.5522,
       73.6098, 73.6044, 73.6173, 73.9396, 74.0614, 73.8255, 73.5581,
       73.6639, 73.5569, 73.7262, 73.5476, 73.4404, 73.1842, 73.0574,
       73.0941, 73.0923, 73.0795, 73.0741, 73.1258, 73.1501, 73.4552,
       73.3792, 73.3811, 73.4053, 73.5122, 73.1379, 73.1593, 73.0912,
       73.1617, 73.1278, 73.179 , 73.1929, 73.1931, 72.9099, 72.9796,
       72.9972, 72.9972, 72.9953, 72.9713, 72.908 , 73.0227, 72.9652,
       72.9086, 72.9094, 72.9211, 73.1299, 72.9421, 72.818 , 72.9478,
       72.7909, 72.7909, 72.7982, 72.9142, 72.8605, 72.8076, 72.7119,
       72.5894, 72.591 , 72.6021, 72.6434, 72.9634, 72.7479, 72.6137,
       72.5539, 72.573 , 72.542 , 72.4453, 72.3787, 72.3332, 73.1691,
       73.5954, 73.5964, 73.7169, 73.3125, 73.2672, 73.0197, 73.1149,
       73.1826, 73.1826, 73.1782, 73.3522, 72.7798, 72.7126, 72.648 ,
       72.6892, 72.6886, 72.6784, 72.5046, 72.5264, 72.29  , 72.6615,
       72.4416, 72.442 , 72.4271, 72.3888, 72.6193, 72.6332, 72.6268,
       72.445 , 72.4473, 72.4904, 72.7416, 73.4087, 73.2065, 73.2821,
       73.378 , 73.3787, 73.3849, 73.2768, 73.5006, 74.4136, 74.5334,
       74.727 , 74.7324, 74.7395, 74.99  , 75.1673, 75.0481, 74.7301,
       74.5646, 74.5566, 74.5305, 74.8743, 75.4497, 75.4272, 75.0699,
       74.8668, 74.8671, 74.9163, 74.8238, 74.5802, 74.3325, 74.0929,
       74.0929, 74.0958, 74.1128, 73.8362, 73.7797, 73.7992, 73.6077,
       73.2905, 73.296 , 73.2573, 73.4925, 73.3647, 73.6958, 73.4537,
       73.2796, 73.2796, 73.2813, 73.3355, 73.1458, 73.2299, 73.029 ,
       72.918 , 72.918 , 72.9238, 72.8328, 72.8007, 72.729 , 72.7058,
       72.3962, 72.3962, 72.4047, 72.4898, 72.8572, 72.9597, 73.0408,
       72.9083, 72.9083, 73.0047, 72.8013, 72.9789, 73.0011, 73.0123,
       73.2318, 73.2344, 73.2449, 73.1827, 73.3504, 73.8401, 74.246 ,
       74.1466, 74.1415, 74.1257, 74.1359, 74.3444, 74.2343, 74.194 ,
       74.1838, 74.1838, 74.2044, 74.2802, 74.2824, 74.3716, 74.5622,
       74.7551, 74.4803, 74.5011, 74.3231, 74.7744, 74.8159, 74.7379,
       74.4917, 74.488 , 74.4776, 74.5355, 74.6689, 74.4636, 74.5561,
       74.9126, 74.631 , 74.6062, 75.0007, 74.5245, 74.4401, 74.4613,
       74.4273, 74.4408, 74.4323, 74.2838, 74.5378, 74.4524, 74.2468,
       74.3793])

### Crude oil prices

In [6]:
# Scrapping data from URL

response_oilrates = requests.get("https://www.indexmundi.com/commodities/?commodity=crude-oil&months=60&currency=inr")

#Response_oilrates.text

soup_oilrates = bs(response_oilrates.text)
crudeoil = soup_oilrates.find("div",class_="row").text.split("\n")
find_index_start = crudeoil.index('Jun 20194,149.67-11.03%')
find_index_stop =  crudeoil.index('Jul 20215,460.903.40%') + 1
crudeoil = crudeoil[find_index_start : find_index_stop]

#Finding the text and cleaning

find_price = []
crudeoil_monthlyrates = []

for i in crudeoil:
        temp = re.findall(r"\d+.\d+.\d+|\d+-\d+.\d+",i)
        find_price.append(temp)
    

# Flattening the list

find_price = sum(find_price,[])

for i in find_price:
        temp = float(i[4:].replace(",",""))
        crudeoil_monthlyrates.append(temp)
crudeoil_monthlyrates

# Approximating minimum and maximum values for the average values

crudeoilprice_minrange = []
crudeoilprice_maxrange = []
for i in crudeoil_monthlyrates:
    min_range = i - 30
    max_range = i + 30
    crudeoilprice_minrange.append(min_range)
    crudeoilprice_maxrange.append(max_range)

In [7]:
# create lists to pass in the function

years = [2019,2020,2021]
common_year = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
leap_year = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
dates = []
for i in years:
    if i % 4 == 0:
        for j in leap_year:
            dates.append(j)
    else:
        for k in common_year:
            dates.append(k)
dates = dates[5:-5]
len(dates)

26

In [8]:
#function to create random daily values

ranlist = []
def month_days(x,y,n):
    global random_float_list
    for i in range(0,n):
        k = round(random.uniform(x,y),2)
        ranlist.append(k)

In [9]:
for x,y,z in zip(crudeoilprice_minrange,crudeoilprice_maxrange,dates):
    month_days(x,y,z)
crude_oil_rates = ranlist
crude_oil_rates

[4155.66,
 4151.26,
 4159.23,
 4132.73,
 4143.73,
 4123.98,
 4171.98,
 4144.75,
 4171.29,
 4125.79,
 4126.82,
 4134.98,
 4170.47,
 4126.73,
 4157.93,
 4144.67,
 4133.36,
 4127.98,
 4140.19,
 4133.28,
 4128.2,
 4177.52,
 4137.09,
 4124.58,
 4148.08,
 4123.28,
 4169.48,
 4167.76,
 4135.15,
 4156.61,
 4242.28,
 4253.66,
 4202.02,
 4235.98,
 4250.57,
 4221.73,
 4231.57,
 4204.45,
 4246.07,
 4218.86,
 4216.83,
 4233.89,
 4245.09,
 4251.15,
 4205.78,
 4222.78,
 4242.64,
 4251.04,
 4258.26,
 4223.47,
 4226.63,
 4245.36,
 4217.87,
 4254.58,
 4234.63,
 4257.51,
 4208.57,
 4223.65,
 4237.95,
 4249.27,
 4227.31,
 4085.13,
 4107.56,
 4114.04,
 4118.74,
 4094.71,
 4110.04,
 4087.29,
 4076.35,
 4091.31,
 4123.8,
 4131.86,
 4080.27,
 4101.19,
 4099.05,
 4091.02,
 4084.36,
 4098.15,
 4125.06,
 4089.24,
 4129.84,
 4128.49,
 4114.24,
 4126.37,
 4096.54,
 4105.41,
 4121.96,
 4100.17,
 4117.8,
 4107.2,
 4108.92,
 4098.87,
 4287.64,
 4311.67,
 4301.29,
 4293.86,
 4272.58,
 4302.84,
 4280.8,
 4301.41,
 4280.02,
 4262.23,
 4265.18,
 4305.28,
 4278.82,
 4308.81,
 4271.37,
 4303.81,
 4304.67,
 4287.58,
 4292.51,
 4290.36,
 4304.62,
 4277.29,
 4275.25,
 4286.45,
 4280.93,
 4293.12,
 4293.82,
 4286.7,
 4264.77,
 4259.26,
 4056.6,
 4046.57,
 4071.52,
 4058.66,
 4048.95,
 4063.79,
 4068.92,
 4057.24,
 4052.76,
 4072.47,
 4056.52,
 4047.97,
 4095.03,
 4059.81,
 4059.35,
 4057.13,
 4061.46,
 4057.52,
 4042.72,
 4068.12,
 4097.11,
 4049.58,
 4068.17,
 4043.03,
 4091.06,
 4056.84,
 4078.45,
 4065.84,
 4070.67,
 4098.08,
 4086.89,
 4319.79,
 4294.58,
 4326.97,
 4288.71,
 4290.23,
 4297.92,
 4338.64,
 4317.61,
 4319.49,
 4325.82,
 4324.4,
 4317.37,
 4325.53,
 4321.42,
 4311.91,
 4333.71,
 4316.67,
 4316.82,
 4294.8,
 4290.78,
 4286.12,
 4327.25,
 4303.3,
 4313.33,
 4339.5,
 4321.51,
 4335.68,
 4334.61,
 4336.78,
 4294.44,
 4511.2,
 4500.95,
 4530.98,
 4483.38,
 4517.92,
 4504.45,
 4513.52,
 4514.68,
 4526.22,
 4536.76,
 4492.02,
 4532.86,
 4510.62,
 4508.63,
 4528.79,
 4518.62,
 4509.44,
 4512.92,
 4520.4,
 4504.25,
 4535.25,
 4483.61,
 4484.73,
 4493.46,
 4502.61,
 4537.29,
 4499.32,
 4537.27,
 4486.36,
 4481.46,
 4533.28,
 4423.71,
 4397.42,
 4378.71,
 4375.67,
 4407.86,
 4379.73,
 4424.74,
 4414.91,
 4405.11,
 4382.07,
 4373.81,
 4409.23,
 4392.19,
 4398.27,
 4415.98,
 4404.42,
 4392.72,
 4389.02,
 4402.22,
 4370.45,
 4396.22,
 4406.49,
 4424.89,
 4391.11,
 4396.52,
 4408.89,
 4387.74,
 4423.51,
 4371.33,
 4417.36,
 4370.42,
 3841.67,
 3791.66,
 3804.02,
 3825.23,
 3799.27,
 3812.73,
 3829.45,
 3803.29,
 3833.0,
 3820.28,
 3809.1,
 3841.78,
 3823.97,
 3809.5,
 3800.82,
 3825.66,
 3827.27,
 3814.07,
 3786.81,
 3831.09,
 3798.03,
 3831.93,
 3791.76,
 3803.55,
 3833.69,
 3783.66,
 3811.35,
 3783.52,
 3791.0,
 2383.52,
 2385.49,
 2389.56,
 2398.6,
 2392.05,
 2417.98,
 2389.41,
 2368.5,
 2408.48,
 2370.45,
 2417.09,
 2406.75,
 2372.58,
 2403.86,
 2408.01,
 2387.45,
 2421.62,
 2413.2,
 2415.97,
 2391.41,
 2417.53,
 2390.86,
 2410.36,
 2381.35,
 2418.27,
 2404.75,
 2416.5,
 2407.24,
 2384.29,
 2366.13,
 2366.22,
 1606.54,
 1620.14,
 1577.5,
 1580.74,
 1584.54,
 1622.23,
 1605.81,
 1584.25,
 1614.32,
 1582.39,
 1630.79,
 1576.12,
 1615.56,
 1573.36,
 1602.3,
 1582.78,
 1608.64,
 1575.35,
 1598.4,
 1580.25,
 1577.47,
 1580.36,
 1575.63,
 1581.14,
 1597.88,
 1583.99,
 1576.92,
 1597.84,
 1615.89,
 1629.9,
 2324.84,
 2314.1,
 2283.17,
 2314.61,
 2296.83,
 2286.42,
 2300.63,
 2312.04,
 2286.84,
 2320.6,
 2286.31,
 2290.91,
 2272.84,
 2298.34,
 2311.54,
 2303.2,
 2320.88,
 2278.83,
 2296.46,
 2321.25,
 2305.02,
 2303.46,
 2326.73,
 2288.2,
 2282.75,
 2274.96,
 2281.85,
 2284.02,
 2307.26,
 2316.05,
 2303.5,
 3012.85,
 3016.71,
 2976.54,
 2958.33,
 2987.05,
 3014.47,
 3009.66,
 2962.21,
 2969.8,
 2966.63,
 3005.05,
 2974.06,
 2966.71,
 2969.38,
 3014.27,
 2984.75,
 2980.35,
 2969.3,
 3011.1,
 3013.99,
 2960.52,
 3003.43,
 2990.61,
 3007.01,
 2978.73,
 2999.03,
 2991.53,
 2971.85,
 2972.46,
 2957.5,
 3165.96,
 3151.95,
 3132.71,
 3172.44,
 3128.91,
 3155.41,
 3140.87,
 3151.59,
 3170.2,
 3156.34,
 3145.97,
 3163.5,
 3153.1,
 3167.49,
 3168.16,
 3153.14,
 3151.13,
 3154.38,
 3162.12,
 3144.97,
 3170.45,
 3140.73,
 3126.45,
 3134.42,
 3146.19,
 3126.88,
 3132.28,
 3128.23,
 3131.08,
 3148.29,
 3173.74,
 3239.05,
 3271.44,
 3237.92,
 3252.99,
 3221.53,
 3218.42,
 3245.25,
 3239.83,
 3216.13,
 3216.46,
 3260.38,
 3243.66,
 3254.38,
 3264.75,
 3258.68,
 3243.28,
 3231.14,
 3214.06,
 3255.99,
 3213.87,
 3219.8,
 3215.37,
 3233.4,
 3267.47,
 3234.78,
 3219.96,
 3217.18,
 3215.41,
 3242.78,
 3224.16,
 3252.24,
 2968.5,
 3013.48,
 2970.03,
 3004.21,
 2992.7,
 2993.3,
 2969.66,
 2997.19,
 2967.32,
 2956.47,
 3003.03,
 3001.08,
 2962.86,
 2977.88,
 2964.02,
 2969.38,
 2995.56,
 2986.5,
 3001.44,
 2980.5,
 3009.98,
 2978.91,
 2994.11,
 2959.46,
 3008.26,
 2969.45,
 3000.23,
 2994.46,
 3011.59,
 2957.1,
 2951.85,
 2943.36,
 2922.84,
 2960.44,
 2933.2,
 2942.93,
 2906.04,
 2957.98,
 2941.44,
 2902.75,
 2916.17,
 2958.76,
 2909.31,
 2932.77,
 2951.17,
 2934.06,
 2935.89,
 2913.92,
 2954.25,
 2903.43,
 2948.84,
 2921.3,
 2907.88,
 2929.28,
 2915.81,
 2927.67,
 2937.58,
 2906.72,
 2906.27,
 2929.72,
 2928.86,
 3146.3,
 3144.5,
 3155.6,
 3134.57,
 3118.99,
 3158.58,
 3144.76,
 3134.15,
 3117.66,
 3138.22,
 3123.43,
 3135.32,
 3157.09,
 3167.91,
 3117.02,
 3156.98,
 3140.45,
 3165.47,
 3145.56,
 3158.59,
 3143.19,
 3155.29,
 3128.39,
 3133.91,
 3143.8,
 3168.12,
 3127.79,
 3115.87,
 3117.23,
 3154.76,
 3588.72,
 3576.49,
 3613.85,
 3563.56,
 3575.36,
 3594.67,
 3572.47,
 3594.32,
 3603.7,
 3601.9,
 3567.22,
 3595.8,
 3604.97,
 3609.66,
 3561.33,
 3610.29,
 3559.67,
 3611.12,
 3563.97,
 3594.82,
 3562.46,
 3573.73,
 3581.81,
 3596.36,
 3597.96,
 3606.75,
 3590.45,
 3587.21,
 3618.82,
 3570.1,
 3574.95,
 3925.86,
 3927.55,
 3926.81,
 3903.15,
 3894.22,
 3909.49,
 3931.09,
 3912.17,
 3916.29,
 3938.55,
 3935.31,
 3940.91,
 3897.94,
 3893.43,
 3943.63,
 3909.48,
 3888.79,
 3922.82,
 3931.45,
 3897.91,
 3932.08,
 3902.55,
 3946.82,
 3908.05,
 3899.78,
 3905.45,
 3928.47,
 3903.78,
 3939.01,
 3919.66,
 3932.48,
 4405.66,
 4409.57,
 4382.14,
 4424.4,
 4419.85,
 4411.25,
 4375.12,
 4387.94,
 4371.48,
 4394.98,
 4386.25,
 4398.97,
 4397.75,
 4372.99,
 4410.95,
 4405.76,
 4428.83,
 4408.39,
 4375.5,
 4414.22,
 4404.95,
 4370.41,
 4406.61,
 4404.97,
 4371.33,
 4422.69,
 4408.98,
 4369.89,
 4643.83,
 4635.85,
 4621.49,
 4646.75,
 4632.77,
 4663.4,
 4674.58,
 4665.49,
 4675.33,
 4670.0,
 4671.97,
 4641.67,
 4667.09,
 4619.3,
 4662.27,
 4657.6,
 4635.11,
 4660.28,
 4659.6,
 4654.69,
 4663.94,
 4625.34,
 4654.09,
 4635.64,
 4634.1,
 4656.6,
 4645.96,
 4641.18,
 4660.56,
 4626.43,
 4635.69,
 4656.88,
 4710.68,
 4709.07,
 4668.42,
 4710.89,
 4693.59,
 4657.0,
 4667.0,
 4668.09,
 4657.71,
 4656.3,
 4691.93,
 4695.32,
 4713.81,
 4680.99,
 4692.25,
 4693.0,
 4711.93,
 4682.21,
 4674.16,
 4679.53,
 4696.85,
 4688.24,
 4708.67,
 4697.26,
 4660.52,
 4658.81,
 4701.18,
 4705.68,
 4672.04,
 4868.57,
 4862.66,
 4863.99,
 4858.69,
 4874.25,
 4856.73,
 4850.18,
 4890.18,
 4885.11,
 4843.37,
 4861.03,
 4864.76,
 4854.79,
 4841.33,
 4864.33,
 4895.3,
 4867.4,
 4877.93,
 4892.33,
 4884.66,
 4872.92,
 4853.45,
 4865.7,
 4892.91,
 4842.41,
 4843.88,
 4877.43,
 4861.85,
 4842.58,
 4873.7,
 4885.8,
 5261.98,
 5258.51,
 5261.43,
 5290.31,
 5280.83,
 5274.86,
 5308.35,
 5309.57,
 5285.47,
 5258.65,
 5278.38,
 5257.56,
 5277.1,
 5309.77,
 5282.97,
 5282.21,
 5297.67,
 5277.31,
 5264.54,
 5308.1,
 5280.59,
 5253.79,
 5305.98,
 5310.83,
 5291.89,
 5308.61,
 5294.75,
 5259.11,
 5305.95,
 5308.71,
 5465.89,
 5442.79,
 5434.42,
 5458.49,
 5431.83,
 5443.64,
 5450.66,
 5470.05,
 5443.95,
 5475.26,
 5480.73,
 5472.16,
 5487.78,
 5465.81,
 5435.15,
 5457.05,
 5463.18,
 5456.85,
 5478.23,
 5476.0,
 5478.17,
 5470.2,
 5487.81,
 5473.51,
 5479.16,
 5447.0,
 5437.89,
 5473.85,
 5434.12,
 5468.43,
 5465.3]

### Gold prices

In [10]:
# Scrapping data from URL

response_gold =requests.get("https://www.indexmundi.com/commodities/?commodity=gold&months=60&currency=inr")
soup_gold = bs(response_gold.text)
gold = soup_gold.find("div",class_="row").text.split("\n")
find_goldindex_start = gold.index('Jun 201994,370.205.34%')
find_goldindex_stop =  gold.index('Jul 2021134,722.00-0.17%') + 1
gold_index = gold[find_goldindex_start : find_goldindex_stop]
gold_price = []
gold_monthlyrates = []
for i in gold_index:
    g1 = re.findall(r"\d+.\d+.\d+",i)
    gold_price.append(g1)

# flattening the list

gold_price = sum(gold_price,[])

for i in gold_price:
        temp = float(i[4:].replace(",",""))
        gold_monthlyrates.append(temp)
        
# approximating minimum and maximum values for the average values

gold_minrange = []
gold_maxrange = []
for i in gold_monthlyrates:
    min_range = i - 30
    max_range = i + 30
    gold_minrange.append(min_range)
    gold_maxrange.append(max_range)

len(gold_monthlyrates)

26

In [11]:
goldlist = []
def month_days(x,y,n):
    global random_float_list
    for i in range(0,n):
        z = round(random.uniform(x,y),2)
        goldlist.append(z)

In [12]:
for x,y,z in zip(gold_minrange,gold_maxrange,dates):
    month_days(x,y,z)
gold_price = goldlist
gold_price

[94394.97,
 94376.54,
 94356.74,
 94370.67,
 94385.42,
 94365.93,
 94359.89,
 94399.85,
 94370.59,
 94347.78,
 94345.52,
 94384.27,
 94380.92,
 94377.51,
 94366.75,
 94340.65,
 94363.15,
 94350.83,
 94381.89,
 94388.97,
 94356.32,
 94366.05,
 94348.35,
 94395.4,
 94359.16,
 94389.18,
 94370.16,
 94378.21,
 94382.98,
 94354.32,
 97194.19,
 97242.67,
 97196.28,
 97232.82,
 97190.63,
 97188.82,
 97238.35,
 97245.13,
 97186.06,
 97191.17,
 97187.02,
 97234.86,
 97231.0,
 97233.69,
 97227.65,
 97228.79,
 97219.83,
 97237.24,
 97245.33,
 97238.11,
 97198.92,
 97222.75,
 97239.09,
 97243.96,
 97223.27,
 97239.42,
 97213.09,
 97234.16,
 97197.82,
 97200.94,
 97198.77,
 106720.64,
 106741.53,
 106724.72,
 106777.14,
 106769.14,
 106734.03,
 106764.6,
 106727.21,
 106769.48,
 106730.19,
 106752.97,
 106745.21,
 106764.6,
 106763.01,
 106724.44,
 106754.73,
 106724.23,
 106734.08,
 106722.36,
 106766.98,
 106758.87,
 106742.93,
 106726.76,
 106722.57,
 106720.79,
 106720.96,
 106751.22,
 106758.05,
 106753.22,
 106746.57,
 106730.96,
 107727.24,
 107739.55,
 107772.51,
 107760.6,
 107738.72,
 107733.48,
 107765.68,
 107734.33,
 107784.65,
 107725.94,
 107738.81,
 107753.57,
 107753.15,
 107750.99,
 107777.07,
 107765.87,
 107752.87,
 107729.58,
 107726.42,
 107743.55,
 107759.2,
 107770.12,
 107744.81,
 107776.57,
 107749.5,
 107729.12,
 107726.84,
 107755.01,
 107781.87,
 107731.24,
 106213.03,
 106205.12,
 106194.82,
 106217.73,
 106224.55,
 106229.41,
 106216.04,
 106219.31,
 106210.32,
 106209.13,
 106184.34,
 106193.25,
 106237.6,
 106196.99,
 106229.05,
 106197.46,
 106220.64,
 106201.58,
 106229.57,
 106194.12,
 106198.15,
 106220.95,
 106227.79,
 106192.38,
 106186.18,
 106225.41,
 106203.94,
 106227.01,
 106179.3,
 106182.44,
 106226.51,
 105076.31,
 105087.18,
 105071.12,
 105049.7,
 105060.33,
 105087.09,
 105060.24,
 105043.17,
 105062.98,
 105029.23,
 105057.74,
 105041.71,
 105084.59,
 105056.92,
 105086.78,
 105039.86,
 105037.24,
 105039.17,
 105047.89,
 105054.5,
 105076.83,
 105053.37,
 105057.18,
 105071.34,
 105075.69,
 105074.72,
 105083.98,
 105031.09,
 105055.03,
 105047.12,
 105284.48,
 105269.18,
 105279.72,
 105308.3,
 105324.25,
 105268.86,
 105312.77,
 105280.9,
 105299.44,
 105276.03,
 105311.47,
 105281.41,
 105276.08,
 105277.07,
 105278.19,
 105281.14,
 105306.44,
 105271.65,
 105317.88,
 105296.3,
 105284.8,
 105273.73,
 105281.37,
 105310.93,
 105306.31,
 105308.14,
 105277.8,
 105318.32,
 105294.96,
 105303.96,
 105298.47,
 111333.99,
 111326.33,
 111292.96,
 111333.44,
 111315.91,
 111302.82,
 111292.4,
 111344.34,
 111313.19,
 111319.49,
 111317.37,
 111327.39,
 111301.35,
 111317.64,
 111312.56,
 111344.0,
 111328.68,
 111299.6,
 111327.19,
 111306.93,
 111324.67,
 111306.29,
 111288.88,
 111290.85,
 111346.9,
 111320.17,
 111299.27,
 111313.21,
 111305.54,
 111313.89,
 111316.54,
 114135.43,
 114108.77,
 114107.81,
 114110.82,
 114097.95,
 114120.79,
 114109.99,
 114137.66,
 114091.6,
 114126.87,
 114140.16,
 114131.7,
 114092.2,
 114097.85,
 114129.95,
 114093.22,
 114087.93,
 114096.99,
 114115.25,
 114109.25,
 114082.57,
 114134.98,
 114105.48,
 114116.64,
 114126.27,
 114106.72,
 114116.94,
 114100.45,
 114128.84,
 118278.11,
 118307.13,
 118332.63,
 118336.14,
 118281.04,
 118297.5,
 118303.78,
 118287.38,
 118312.33,
 118316.1,
 118303.13,
 118321.25,
 118279.56,
 118279.08,
 118328.6,
 118311.83,
 118287.93,
 118311.52,
 118316.65,
 118307.87,
 118324.36,
 118333.89,
 118330.03,
 118335.19,
 118294.46,
 118294.37,
 118323.81,
 118286.0,
 118281.56,
 118303.64,
 118279.6,
 128242.29,
 128237.35,
 128266.12,
 128263.29,
 128241.61,
 128220.48,
 128253.19,
 128249.31,
 128219.63,
 128229.13,
 128231.46,
 128265.4,
 128234.99,
 128241.47,
 128244.17,
 128214.02,
 128255.58,
 128244.96,
 128236.01,
 128245.17,
 128263.06,
 128264.24,
 128251.1,
 128235.65,
 128214.49,
 128263.09,
 128210.78,
 128243.04,
 128268.07,
 128257.02,
 129804.1,
 129810.32,
 129836.6,
 129836.46,
 129838.44,
 129849.1,
 129846.26,
 129854.63,
 129842.68,
 129821.37,
 129833.19,
 129800.78,
 129830.92,
 129807.26,
 129820.23,
 129825.58,
 129815.74,
 129821.12,
 129797.65,
 129799.84,
 129847.73,
 129797.52,
 129814.62,
 129845.06,
 129809.05,
 129826.09,
 129854.42,
 129819.61,
 129811.14,
 129827.23,
 129835.09,
 131138.08,
 131137.79,
 131150.91,
 131140.14,
 131151.9,
 131153.31,
 131131.01,
 131172.74,
 131160.38,
 131123.17,
 131123.06,
 131155.99,
 131164.58,
 131128.0,
 131130.15,
 131153.65,
 131157.87,
 131142.51,
 131134.27,
 131118.7,
 131130.89,
 131145.39,
 131171.94,
 131164.39,
 131130.28,
 131128.81,
 131119.99,
 131166.29,
 131146.94,
 131146.0,
 138519.64,
 138538.47,
 138514.22,
 138509.16,
 138536.87,
 138503.65,
 138506.2,
 138504.09,
 138514.55,
 138494.85,
 138509.96,
 138532.35,
 138546.79,
 138513.64,
 138495.77,
 138495.22,
 138548.06,
 138514.03,
 138536.15,
 138502.65,
 138549.73,
 138512.75,
 138515.48,
 138531.59,
 138513.03,
 138549.28,
 138536.18,
 138519.39,
 138508.17,
 138524.4,
 138502.3,
 146988.16,
 146991.77,
 147006.52,
 146982.22,
 147022.94,
 147003.04,
 147013.4,
 147017.67,
 146991.52,
 146977.71,
 146983.27,
 147004.94,
 146979.4,
 146981.11,
 147006.69,
 147016.84,
 147022.76,
 146999.43,
 147029.65,
 146990.28,
 146974.36,
 147030.06,
 146975.79,
 146990.59,
 147020.34,
 147018.68,
 146996.05,
 146984.77,
 147006.57,
 147007.64,
 146995.82,
 141266.57,
 141238.75,
 141251.13,
 141264.93,
 141285.17,
 141236.2,
 141245.89,
 141261.57,
 141279.31,
 141276.54,
 141259.46,
 141239.19,
 141288.19,
 141234.8,
 141243.14,
 141259.01,
 141268.73,
 141241.89,
 141265.51,
 141256.18,
 141283.98,
 141282.43,
 141236.8,
 141245.88,
 141287.05,
 141269.53,
 141275.56,
 141261.73,
 141231.04,
 141255.51,
 139636.53,
 139607.52,
 139633.89,
 139610.5,
 139599.74,
 139645.59,
 139598.54,
 139617.33,
 139615.92,
 139622.25,
 139639.03,
 139649.95,
 139628.44,
 139630.93,
 139603.48,
 139627.81,
 139631.31,
 139601.72,
 139641.77,
 139601.85,
 139650.18,
 139608.32,
 139640.65,
 139597.5,
 139593.55,
 139635.39,
 139627.7,
 139616.86,
 139623.74,
 139652.27,
 139606.86,
 138616.95,
 138634.63,
 138625.7,
 138607.14,
 138631.33,
 138635.62,
 138630.3,
 138582.46,
 138580.95,
 138616.13,
 138630.2,
 138608.81,
 138608.95,
 138603.21,
 138628.3,
 138625.2,
 138632.03,
 138629.57,
 138598.68,
 138598.37,
 138625.89,
 138620.03,
 138619.9,
 138631.75,
 138591.02,
 138621.39,
 138591.15,
 138589.23,
 138605.89,
 138581.33,
 136913.74,
 136883.32,
 136890.98,
 136907.98,
 136873.4,
 136858.87,
 136876.66,
 136900.24,
 136882.57,
 136903.56,
 136882.29,
 136863.77,
 136898.09,
 136863.28,
 136905.1,
 136880.05,
 136912.16,
 136895.88,
 136913.23,
 136882.69,
 136898.52,
 136896.12,
 136864.48,
 136877.42,
 136909.08,
 136909.64,
 136872.09,
 136861.7,
 136913.53,
 136858.13,
 136876.96,
 136506.94,
 136503.13,
 136499.02,
 136499.45,
 136466.63,
 136513.68,
 136466.99,
 136515.65,
 136487.08,
 136486.52,
 136487.46,
 136519.92,
 136505.24,
 136476.58,
 136499.01,
 136516.43,
 136505.95,
 136492.39,
 136478.16,
 136501.65,
 136501.07,
 136474.58,
 136500.06,
 136517.71,
 136488.94,
 136472.47,
 136499.27,
 136488.08,
 136492.72,
 136490.27,
 136488.23,
 131551.93,
 131587.75,
 131590.75,
 131563.62,
 131544.65,
 131562.59,
 131545.33,
 131601.94,
 131596.85,
 131557.81,
 131601.1,
 131580.73,
 131552.34,
 131569.39,
 131573.45,
 131553.52,
 131544.66,
 131574.04,
 131561.85,
 131553.78,
 131583.65,
 131546.45,
 131596.21,
 131576.25,
 131581.52,
 131589.33,
 131578.45,
 131558.5,
 125100.3,
 125102.44,
 125063.08,
 125066.14,
 125053.72,
 125060.77,
 125101.9,
 125100.85,
 125053.83,
 125088.54,
 125061.72,
 125103.24,
 125088.88,
 125046.01,
 125076.56,
 125101.21,
 125079.24,
 125098.57,
 125102.66,
 125084.2,
 125074.52,
 125059.46,
 125086.29,
 125103.28,
 125045.35,
 125070.38,
 125058.9,
 125091.41,
 125049.09,
 125049.05,
 125104.46,
 130998.2,
 130950.5,
 130999.28,
 130974.39,
 131006.99,
 130993.58,
 130959.97,
 130960.83,
 130950.69,
 130982.97,
 130974.44,
 130997.37,
 131002.72,
 131008.26,
 130999.95,
 130964.15,
 130974.94,
 130970.17,
 130971.0,
 131004.03,
 130999.87,
 130962.78,
 130973.97,
 130950.86,
 130988.35,
 130986.07,
 130989.88,
 130983.56,
 130953.06,
 131003.55,
 135704.88,
 135717.93,
 135729.4,
 135707.02,
 135745.72,
 135732.07,
 135729.65,
 135713.3,
 135745.36,
 135738.91,
 135744.81,
 135705.75,
 135755.84,
 135735.89,
 135710.69,
 135725.92,
 135714.23,
 135718.54,
 135725.89,
 135761.12,
 135712.45,
 135709.44,
 135757.55,
 135734.5,
 135734.41,
 135720.66,
 135721.04,
 135707.34,
 135749.95,
 135736.64,
 135727.58,
 134942.61,
 134960.6,
 134958.94,
 134972.82,
 134938.99,
 134931.55,
 134946.74,
 134921.83,
 134950.49,
 134971.41,
 134942.07,
 134961.41,
 134976.64,
 134960.19,
 134973.99,
 134923.19,
 134966.68,
 134961.56,
 134956.75,
 134951.51,
 134959.5,
 134951.98,
 134971.71,
 134922.88,
 134972.73,
 134975.6,
 134976.45,
 134975.07,
 134971.19,
 134949.6,
 134703.43,
 134721.53,
 134712.18,
 134699.04,
 134725.95,
 134747.02,
 134738.54,
 134698.6,
 134696.89,
 134713.77,
 134751.02,
 134701.95,
 134694.23,
 134717.31,
 134701.52,
 134736.48,
 134712.78,
 134697.39,
 134745.62,
 134721.49,
 134725.89,
 134732.07,
 134717.74,
 134699.46,
 134723.1,
 134751.8,
 134732.84,
 134744.56,
 134726.85,
 134718.59,
 134731.86]

### Food prices

In [13]:
# Scrapping data from URL

response_food = requests.get("https://www.indexmundi.com/commodities/?commodity=food-price-index&months=60")
soup_food = bs(response_food.text)
food = soup_food.find("div",class_="row").text.split("\n")
find_foodindex_start = food.index('Jun 201988.063.63%')
find_foodindex_stop =  food.index('Jul 2021121.08-1.18%') + 1
food_index= food[find_foodindex_start:find_foodindex_stop]

food_price = []
food_monthlyrates = []

for i in food_index:
    m1 = re.findall(r"\d+.\d+.\d+|\d+-\d+.\d+",i)
    food_price.append(m1)

# Flattening the list

food_price = sum(food_price,[])

for i in food_price:
        temp = float(i[4:-3].replace(",",""))
        food_monthlyrates.append(temp)
        
# Approximating minimum and maximum values for the average values

food_minrange = []
food_maxrange = []
for i in food_monthlyrates:
    min_range = i - 30
    max_range = i + 30
    food_minrange.append(min_range)
    food_maxrange.append(max_range)
len(food_monthlyrates)

26

In [14]:
foodlist = []
def month_days(x,y,n):
    global random_float_list
    for i in range(0,n):
        z = round(random.uniform(x,y),2)
        foodlist.append(z)

In [15]:
for x,y,z in zip(food_minrange,food_maxrange,dates):
    month_days(x,y,z)
food_index = foodlist
food_index

[91.95,
 79.57,
 82.91,
 64.71,
 82.18,
 62.13,
 95.58,
 78.44,
 87.41,
 80.4,
 94.35,
 113.33,
 96.92,
 74.2,
 84.33,
 79.77,
 117.18,
 108.31,
 102.83,
 87.86,
 82.09,
 87.56,
 82.16,
 76.35,
 81.34,
 72.73,
 84.7,
 79.3,
 99.96,
 107.92,
 106.75,
 112.63,
 80.96,
 95.79,
 76.21,
 64.41,
 110.78,
 83.93,
 91.6,
 71.65,
 58.11,
 113.29,
 108.99,
 78.05,
 94.38,
 89.2,
 74.18,
 115.75,
 86.05,
 110.9,
 65.33,
 68.41,
 106.13,
 111.61,
 77.02,
 103.1,
 64.54,
 57.56,
 59.57,
 116.41,
 71.03,
 94.27,
 88.26,
 60.33,
 104.68,
 72.66,
 57.58,
 79.52,
 60.53,
 101.39,
 78.84,
 96.56,
 86.56,
 98.1,
 92.78,
 103.71,
 85.12,
 82.44,
 74.25,
 66.27,
 113.0,
 109.29,
 59.27,
 85.23,
 73.28,
 78.13,
 71.33,
 72.73,
 101.54,
 93.69,
 75.13,
 99.1,
 99.13,
 88.23,
 112.86,
 92.8,
 69.82,
 69.26,
 87.88,
 64.08,
 106.27,
 59.27,
 66.98,
 110.04,
 107.57,
 63.81,
 64.01,
 78.29,
 95.95,
 102.92,
 71.93,
 94.7,
 91.17,
 101.28,
 57.29,
 63.69,
 76.4,
 89.78,
 101.67,
 93.76,
 86.72,
 90.55,
 58.77,
 113.86,
 114.49,
 69.91,
 113.41,
 93.18,
 113.67,
 111.15,
 64.33,
 105.6,
 66.56,
 105.9,
 89.31,
 70.6,
 100.05,
 108.45,
 108.29,
 56.43,
 69.77,
 104.34,
 103.34,
 112.94,
 76.74,
 85.56,
 86.75,
 81.49,
 56.96,
 70.49,
 90.65,
 76.73,
 77.91,
 99.82,
 93.92,
 60.21,
 114.09,
 79.66,
 92.18,
 105.79,
 109.73,
 96.8,
 106.1,
 83.17,
 73.24,
 61.85,
 69.03,
 115.0,
 92.91,
 79.35,
 93.08,
 88.95,
 117.36,
 76.95,
 80.15,
 63.06,
 68.31,
 70.59,
 114.25,
 65.58,
 98.9,
 108.32,
 96.06,
 100.99,
 121.55,
 79.69,
 92.47,
 103.11,
 111.75,
 92.4,
 118.13,
 120.1,
 92.94,
 111.08,
 87.43,
 114.14,
 72.35,
 98.64,
 71.36,
 95.41,
 94.14,
 111.53,
 108.62,
 106.25,
 72.07,
 85.74,
 101.53,
 82.29,
 75.38,
 93.83,
 116.46,
 65.98,
 75.01,
 74.5,
 88.79,
 76.29,
 100.03,
 81.07,
 81.85,
 100.14,
 66.06,
 103.75,
 111.2,
 83.89,
 84.69,
 109.97,
 90.85,
 118.77,
 87.65,
 85.69,
 111.13,
 86.57,
 88.48,
 87.46,
 98.68,
 95.67,
 120.07,
 100.05,
 68.73,
 92.82,
 83.03,
 86.05,
 118.21,
 110.79,
 119.41,
 79.25,
 97.09,
 63.61,
 119.62,
 110.69,
 96.32,
 111.39,
 104.53,
 79.66,
 73.61,
 108.19,
 67.77,
 102.9,
 99.23,
 112.71,
 109.06,
 70.18,
 89.1,
 99.84,
 110.04,
 80.04,
 85.88,
 80.48,
 100.41,
 62.74,
 99.05,
 100.2,
 84.18,
 64.89,
 71.63,
 104.18,
 84.31,
 90.02,
 72.85,
 68.12,
 113.54,
 83.1,
 96.68,
 104.52,
 107.69,
 100.27,
 100.69,
 80.02,
 94.69,
 114.0,
 76.94,
 70.09,
 69.41,
 93.18,
 112.48,
 85.81,
 100.96,
 97.37,
 98.51,
 93.73,
 69.53,
 109.46,
 81.65,
 97.05,
 84.76,
 96.05,
 114.14,
 55.71,
 99.78,
 88.87,
 109.93,
 114.34,
 60.96,
 94.74,
 101.71,
 82.69,
 79.86,
 99.73,
 60.85,
 103.08,
 58.57,
 84.22,
 109.44,
 57.25,
 99.82,
 92.57,
 56.02,
 62.68,
 73.66,
 63.43,
 105.39,
 87.75,
 103.76,
 104.33,
 56.92,
 88.49,
 103.3,
 108.71,
 100.11,
 89.5,
 92.65,
 55.82,
 114.36,
 63.76,
 92.89,
 59.56,
 84.81,
 87.74,
 100.15,
 56.25,
 113.09,
 114.52,
 61.09,
 90.65,
 55.62,
 87.44,
 79.66,
 109.38,
 69.17,
 96.02,
 68.73,
 79.02,
 111.7,
 57.94,
 63.19,
 78.74,
 108.65,
 90.16,
 87.83,
 90.36,
 88.23,
 104.42,
 117.51,
 80.84,
 113.45,
 75.11,
 94.02,
 68.79,
 99.05,
 59.8,
 63.72,
 77.74,
 102.2,
 84.29,
 92.67,
 93.6,
 110.73,
 84.56,
 111.27,
 111.51,
 91.34,
 76.25,
 69.58,
 83.99,
 74.42,
 78.64,
 93.77,
 88.23,
 79.86,
 58.91,
 61.19,
 70.49,
 102.46,
 113.87,
 118.13,
 114.4,
 86.2,
 63.12,
 84.73,
 106.54,
 97.01,
 110.61,
 116.37,
 96.01,
 107.71,
 90.86,
 62.32,
 101.38,
 118.41,
 81.66,
 71.83,
 66.01,
 72.76,
 105.51,
 94.83,
 97.39,
 106.99,
 76.23,
 104.44,
 112.96,
 104.02,
 64.13,
 112.47,
 88.19,
 120.43,
 110.12,
 92.93,
 87.28,
 74.09,
 69.67,
 89.39,
 97.72,
 83.53,
 114.61,
 62.66,
 62.72,
 119.1,
 89.13,
 113.42,
 116.25,
 112.57,
 88.56,
 99.09,
 82.47,
 99.28,
 110.51,
 73.99,
 97.74,
 90.71,
 123.36,
 76.12,
 69.47,
 83.21,
 73.49,
 99.26,
 71.94,
 82.24,
 67.94,
 86.12,
 117.79,
 74.85,
 75.41,
 90.22,
 110.43,
 78.88,
 65.95,
 99.2,
 84.5,
 83.69,
 120.32,
 70.86,
 92.06,
 117.42,
 100.03,
 101.91,
 69.97,
 103.39,
 86.53,
 107.14,
 115.01,
 114.5,
 96.09,
 72.08,
 94.58,
 105.5,
 121.52,
 87.99,
 115.74,
 103.71,
 125.09,
 84.15,
 103.37,
 108.17,
 89.87,
 109.71,
 100.79,
 117.36,
 69.92,
 77.69,
 112.87,
 93.11,
 90.57,
 118.59,
 99.03,
 109.65,
 125.46,
 93.37,
 94.33,
 85.62,
 95.64,
 97.98,
 109.75,
 74.13,
 96.26,
 119.56,
 121.24,
 113.65,
 76.09,
 81.2,
 88.25,
 100.69,
 109.08,
 96.56,
 129.81,
 87.52,
 116.41,
 105.52,
 94.0,
 95.04,
 72.55,
 78.02,
 72.75,
 113.95,
 88.57,
 100.63,
 84.82,
 83.74,
 104.51,
 77.34,
 110.32,
 127.22,
 114.1,
 89.58,
 112.2,
 125.06,
 103.87,
 83.66,
 98.07,
 119.11,
 102.61,
 86.59,
 109.3,
 125.96,
 84.49,
 79.68,
 90.3,
 78.77,
 128.99,
 119.93,
 82.48,
 78.34,
 135.64,
 97.94,
 78.09,
 112.47,
 109.79,
 134.02,
 116.08,
 121.08,
 92.16,
 131.29,
 105.07,
 109.21,
 107.65,
 131.59,
 83.72,
 138.38,
 85.24,
 134.57,
 103.52,
 88.62,
 113.73,
 138.54,
 118.19,
 98.85,
 138.56,
 135.14,
 110.56,
 94.97,
 107.71,
 140.92,
 128.39,
 99.23,
 116.2,
 90.88,
 101.01,
 97.3,
 108.12,
 113.75,
 118.08,
 93.64,
 85.42,
 86.93,
 111.37,
 129.35,
 125.73,
 101.45,
 89.65,
 116.43,
 94.32,
 99.91,
 112.7,
 119.21,
 89.95,
 93.77,
 142.92,
 99.64,
 132.21,
 128.04,
 96.9,
 142.6,
 140.6,
 123.48,
 126.72,
 138.77,
 112.44,
 130.86,
 131.72,
 129.66,
 101.87,
 89.3,
 134.36,
 108.42,
 103.96,
 130.22,
 87.57,
 88.52,
 111.61,
 109.86,
 126.31,
 94.83,
 99.75,
 140.67,
 106.49,
 136.07,
 134.79,
 98.16,
 126.96,
 132.04,
 144.05,
 92.05,
 119.73,
 136.81,
 92.02,
 103.95,
 103.67,
 108.64,
 135.29,
 109.74,
 108.73,
 102.22,
 126.83,
 142.26,
 117.31,
 131.74,
 119.97,
 131.16,
 90.51,
 136.19,
 118.4,
 116.23,
 129.71,
 90.59,
 94.42,
 104.46,
 134.2,
 141.3,
 148.72,
 147.94,
 102.83,
 146.44,
 95.17,
 108.91,
 138.73,
 131.01,
 138.57,
 91.72,
 139.22,
 127.12,
 120.4,
 125.89,
 106.04,
 149.43,
 131.83,
 135.04,
 120.06,
 144.43,
 105.16,
 137.02,
 136.61,
 100.03,
 117.85,
 143.1,
 127.4,
 126.08,
 125.69,
 152.06,
 114.37,
 112.52,
 112.33,
 119.56,
 125.6,
 119.32,
 121.69,
 117.12,
 139.03,
 119.2,
 97.32,
 149.62,
 108.54,
 111.76,
 134.28,
 111.02,
 133.86,
 93.54,
 127.65,
 121.56,
 114.0,
 145.89,
 141.74,
 104.77,
 124.26,
 131.41,
 133.22,
 129.41,
 100.81,
 121.97,
 146.67,
 134.64,
 130.6,
 115.43,
 117.59,
 112.25,
 97.23,
 113.68,
 121.08,
 150.7,
 138.51,
 118.8,
 109.33,
 101.39,
 108.15,
 114.42,
 110.18,
 124.39,
 137.98,
 131.74,
 113.04,
 119.42,
 119.75,
 93.64,
 114.4,
 119.94,
 119.05,
 132.75,
 138.37,
 124.29,
 101.7,
 127.82,
 147.58,
 103.18,
 96.4,
 107.52,
 139.56,
 128.43,
 139.53,
 108.0,
 143.98,
 102.48,
 143.84,
 121.78,
 107.07]

### Getting Stock data using Yahoo finance API

### Nifty IT

In [16]:
# Set the start and end date

start_date = '2019-05-31'
end_date = '2021-08-03'

# Set the ticker(tickers can be found in yahoofinance website)

ticker = '^CNXIT'

# Get the data

it_date = yf.download(ticker, start_date, end_date)
itdf=pd.DataFrame(it_date)

#converted datetime into column

itdf.reset_index(inplace=True)
itdf["Date"]=itdf.iloc[:,0]
itdf.head()

#added missing dates with date range and imputed corresponding columns with previous date

daterange = pd.date_range(start=itdf["Date"].min(), end=itdf["Date"].max())
it = itdf.set_index('Date').reindex(daterange).fillna(0.0).rename_axis('Date').reset_index()
it.head()
it["NIFTY_IT"] = it.iloc[:,4]

#replaced zero with nan

it["NIFTY_IT"].replace(0, np.nan,inplace = True)

#replaced nan with previous value

it["NIFTY_IT"].fillna(method='pad', inplace=True)
it1 = it.iloc[1:793]
nifty_it =it1.iloc[:,0::7]
date =nifty_it.iloc[:,0]
nifty_it = nifty_it.reset_index(drop=True)
nifty_it

[*********************100%***********************]  1 of 1 completed

          Date      NIFTY_IT
0   2019-06-01  16160.650391
1   2019-06-02  16160.650391
2   2019-06-03  16360.549805
3   2019-06-04  16105.200195
4   2019-06-05  16105.200195
..         ...           ...
787 2021-07-27  29892.550781
788 2021-07-28  29954.150391
789 2021-07-29  30371.400391
790 2021-07-30  30480.050781
791 2021-07-31  30480.050781

[792 rows x 2 columns]

In [17]:
date = nifty_it.iloc[:,0].reset_index(drop=True)
date = pd.DataFrame(date)
date.head()

        Date
0 2019-06-01
1 2019-06-02
2 2019-06-03
3 2019-06-04
4 2019-06-05

### Nifty Bank

In [18]:
start_date = '2019-05-31'
end_date = '2021-08-03'
ticker = '^NSEBANK'
bank_date = yf.download(ticker, start_date, end_date)
bank_df=pd.DataFrame(bank_date)

#converted datetime into column

bank_df.reset_index(inplace=True)
bank_df["Date"]=bank_df.iloc[:,0]

#added missing dates with date range and imputed corresponding columns with previous date

bankrange = pd.date_range(start=bank_df["Date"].min(), end=bank_df["Date"].max())
bank_index = bank_df.set_index('Date').reindex(bankrange).fillna(0.0).rename_axis('Date').reset_index()
bank_index["NIFTY_BANK"] = bank_index.iloc[:,4]

#replaced zero with nan

bank_index["NIFTY_BANK"].replace(0, np.nan,inplace = True)

#replaced nan with previous value

bank_index["NIFTY_BANK"].fillna(method='pad', inplace=True)
bank = bank_index.iloc[1:793]
nifty_bankx =bank.iloc[:,0::7]
nifty_bank = nifty_bankx.iloc[:,1:]
nifty_bank = nifty_bank.reset_index(drop=True)
nifty_bank

[*********************100%***********************]  1 of 1 completed

       NIFTY_BANK
0    31375.400391
1    31375.400391
2    31653.650391
3    31589.050781
4    31589.050781
..            ...
787  34797.449219
788  34532.898438
789  34691.500000
790  34584.351562
791  34584.351562

[792 rows x 1 columns]

### Nifty 50

In [19]:
start_date = '2019-05-31'
end_date = '2021-08-03'
ticker = '^NSEI'
fifty_date = yf.download(ticker, start_date, end_date)
fifty_df =pd.DataFrame(fifty_date)

#converted datetime into column

fifty_df.reset_index(inplace=True)
fifty_df["Date"]=fifty_df.iloc[:,0]

#added missing dates with date range and imputed corresponding columns with previous date

fiftyrange = pd.date_range(start=fifty_df["Date"].min(), end=fifty_df["Date"].max())
fifty_index = fifty_df.set_index('Date').reindex(fiftyrange).fillna(0.0).rename_axis('Date').reset_index()
fifty_index["NIFTY_50"] = fifty_index.iloc[:,4]

#replaced zero with nan

fifty_index["NIFTY_50"].replace(0, np.nan,inplace = True)

#replaced nan with previous value

fifty_index["NIFTY_50"].fillna(method='pad', inplace=True)
fifty = fifty_index.iloc[1:793]
nifty_50X =fifty.iloc[:,0::7]
nifty_50 = nifty_50X.iloc[:,1:]
nifty_50 = nifty_50.reset_index(drop=True)
nifty_50

[*********************100%***********************]  1 of 1 completed

         NIFTY_50
0    11922.799805
1    11922.799805
2    12088.549805
3    12021.650391
4    12021.650391
..            ...
787  15746.450195
788  15709.400391
789  15778.450195
790  15763.049805
791  15763.049805

[792 rows x 1 columns]

## Final Dataframe

In [20]:
data = pd.DataFrame({"Date":date["Date"],"Covid cases":covid["Covid cases"],"USD( $ ) to INR( ₹ )":exchange_rates,
                      "crude oil ( ₹ / Barrel )":crude_oil_rates,
                      "Gold Price( ₹ / Troy ounce )":gold_price,
                      "Food Price Index":food_index,"NIFTY_IT":nifty_it["NIFTY_IT"],"NIFTY_BANK":nifty_bank["NIFTY_BANK"], "NIFTY_50":nifty_50["NIFTY_50"]
                      })
data

,Date,Covid cases,USD( $ ) to INR( ₹ ),crude oil ( ₹ / Barrel ),Gold Price( ₹ / Troy ounce ),Food Price Index,NIFTY_IT,NIFTY_BANK,NIFTY_50
0,2019-06-01,0,69.5795,4155.66,94394.97,91.95,16160.650391,31375.400391,11922.799805
1,2019-06-02,0,69.5795,4151.26,94376.54,79.57,16160.650391,31375.400391,11922.799805
2,2019-06-03,0,69.5781,4159.23,94356.74,82.91,16360.549805,31653.650391,12088.549805
3,2019-06-04,0,69.1697,4132.73,94370.67,64.71,16105.200195,31589.050781,12021.650391
4,2019-06-05,0,69.3155,4143.73,94385.42,82.18,16105.200195,31589.050781,12021.650391
...,...,...,...,...,...,...,...,...,...
787,2021-07-27,31440492,74.2838,5437.89,134732.84,143.98,29892.550781,34797.449219,15746.450195
788,2021-07-28,31483463,74.5378,5473.85,134744.56,102.48,29954.150391,34532.898438,15709.400391
789,2021-07-29,31526628,74.4524,5434.12,134726.85,143.84,30371.400391,34691.500000,15778.450195
790,2021-07-30,31571299,74.2468,5468.43,134718.59,121.78,30480.050781,34584.351562,15763.049805
791,2021-07-31,31612798,74.3793,5465.30,134731.86,107.07,30480.050781,34584.351562,15763.049805

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          792 non-null    datetime64[ns]
 1   Covid cases                   792 non-null    int32
 2   USD( $ ) to INR( ₹ )          792 non-null    float64
 3   crude oil ( ₹ / Barrel )      792 non-null    float64
 4   Gold Price( ₹ / Troy ounce )  792 non-null    float64
 5   Food Price Index              792 non-null    float64
 6   NIFTY_IT                      792 non-null    float64
 7   NIFTY_BANK                    792 non-null    float64
 8   NIFTY_50                      792 non-null    float64
dtypes: datetime64[ns](1), float64(7), int32(1)
memory usage: 52.7 KB

### Converting dataframe to csv file for further analysis

In [22]:
data.to_csv('webscraping-covid.csv')